.completed {
    text-decoration: line-through;
    color: red;
}

table{
    border-collapse: collapse;
    width: 50%;
}

table, td, th{
    border-bottom: 1px solid #ddd;
    width: 40%;
}

tr:nth-child(even) {background-color: #f2f2f2;}

body{
    font-family: "arial";
    height: 100%;
    margin: 0;
}

.headling{
    background-color: red;
    position: relative;
    padding: 1px;
    margin-bottom: 40px;
}

.headling h2{
    margin-left: 15px;
}

.headling-logo{
    position: absolute;
    right: 30px;
    top: 0px;
}

.subheadling-button{
    padding-left: 30px;
    position: relative;
}

.subheadling-search{
    position: absolute;
    bottom: 17px;
    right: 20px;
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    
  }

.searchItem{
    border: none;
    border-radius: 20px;
    background: #c4c1c7;
    height: 35px;
    float: left;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 10px;
  border-radius: 6px;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 39px;
  height: 40px;
  float: left;
}

.btn-icon{
    cursor: pointer;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 30px;
    height: 30px;
    
}

.trash{
    background-color: red;
    border-color:white;
}

.default {
  border-color: #e7e7e7;
  color: black;
}

.table-center{
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flex-container{
    display: flex;
}

.flex-child{
    flex: 1;
}

.flex-child:first-child{
    margin-right: 10px;
}

.center{
    margin: auto;

}