{% extends 'base.html' %}

{% block content %}
<div id="app">
    <h3>Gestion de inventario</h3>
    

    <input v-model="dataSearch" type="text" placeholder="Search bar">
    <button @click="searchBar()">Buscar</button>
    <button @click="resetSearchBarAndTable()">cancelar</button>
    <button onclick="buttonCreate()">agregar nuevo item</button>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th v-if="foundItems">nombre</th>
                <th v-if="foundItems">precio</th>
                <th v-if="foundItems">Num Existentes</th>

                <th v-if="!foundItems">nombre</th>

            </tr>
        </thead>
        <tbody>
            <tr @:submit.prevent v-for="(data,index) in sqlData" :key="index" v-if="foundItems" @dblclick = "getIndex(data.nombre)">

                <td v-if="typeData"> { data.nombre }</td>
                <td v-if="typeData"> { data.precio }</td>
                <td v-if="typeData"> { data.num_existente }</td>
                <td v-if="typeData"><button @click="decreasedData(data.nombre)">disminuir</button></td>
                <td v-if="typeData"><button @click="increaseData(data.nombre)">agregar num</button></td>
                <!-- <td><button @click="">Editar</button></td> -->
                <td v-if="typeData"><button @click="deleteData(data.nombre)">borrar</button></td>

                <td v-if="!typeData"><input type="text" v-model="dataNewName" placeholder="nombre"></td>
                <td v-if="!typeData"><input type="text" v-model="dataNewPrecio" placeholder="precio"></td>
                <td v-if="!typeData"><input type="text" v-model="dataNewNumExist" placeholder="dataNumExis"></td>
                <td v-if="!typeData"><button @click="editData(data.nombre)">confirmar</button></td>
                <td v-if="!typeData"><button @click="getResponse()">cancelar</button></td>

            </tr>

            <!-- for por si no encuentra algun resultado en la busqueda, hacer el codigo mas ligero sin el for. -->
            <tr @:submit.prevent v-for="(data2,index2) in sqlData" :key="index2" v-if="!foundItems" @dblclick = "getIndex(data2.nombre)">
                <td v-if="!foundItems"> { data2.nombre }</td>
            </tr>
            <tr></tr>
        </tbody>
        
    </table>

    <!-- <div @dblclick = "typeData = !typeData">
        <h2 v-if="typeData">esto es una prueba</h2>
        <input v-else type="text" placeholder="prueba">
        <button @click = "typeData = !typeData">toggle</button>
    </div> -->
    <br>

    <form @:submit.prevent="addNewData">
        <input type="text" v-model="dataName" placeholder="nombre">
        <input type="text" v-model="dataNumExis" placeholder="num_existente">
        <input type="text" v-model="dataPrecio" placeholder="precio">
        <button type="submit">agregar</button>
    </form>

    <br>
    <table>
        <h4>Bodega</h4>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>precio</th>
                <th>Num Existente</th>
            </tr>
        </thead>
        <tbody>
            <tr @submit.prevent v-for="(data,index) in bodegaData">
                <td>{ data.nombre }</td>
                <td>{ data.precio }</td>
                <td>{ data.num_existente }</td>
                <td><button>mover</button></td>
            </tr>
        </tbody>
    </table>

    <br>
    <form @:submit.prevent="addNewDataBodega">
        <input type="text" v-model="dataName" placeholder="nombre">
        <input type="text" v-model="dataNumExis" placeholder="num_existente">
        <input type="text" v-model="dataPrecio" placeholder="precio">
        <button type="submit">agregar</button>
    </form>

</div> 
{% endblock %}