{% extends 'base.html' %}

{% block content %}
<div id="app">
    <div class="headling">
        <h2>Gestion de inventario</h3>
            <div class="headling-logo">
                <h2>logo</h2>
            </div>
    </div>

    <div class="subheadling-button">
        <!-- crear un popup para llenar el formulario de los modals buttonCreate() -->
        <button onclick="buttonCreate()" class="button">Agregar</button>
        <div class="subheadling-search">
            <input class="searchItem" v-model="dataSearch" type="text" placeholder="Search bar">
            <button class="btn default" @click="searchBar()">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999">
                    <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
                </svg>
            </button>
            <button class="btn trash" @click="resetSearchBarAndTable()">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999">
                    <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/>
                </svg>
            </button>
        </div>
    </div>

    <div class="alert" v-show="modalAlert">
        <div class="icon__wrapper">
            <span class="mdi mdi-alert-outline"></span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m40-120 440-760 440 760H40Zm138-80h604L480-720 178-200Zm302-40q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm-40-120h80v-200h-80v200Zm40-100Z"/></svg>
        </div>
        <p class="font-warning">Item existente</p>
        <span class="mdi mdi-clse close">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg> -->
        </span>
    </div>
    

    
    <table class="table-center">
        <thead>
            <tr>
                <th v-if="foundItems">nombre</th>
                <th v-if="foundItems">precio</th>
                <th v-if="foundItems">Num Existentes</th>
                <th v-if="foundItems">Acciones</th>


                <th v-if="!foundItems">nombre</th>

            </tr>
        </thead>
        <tbody>
            <tr @drop.prevent="handleDrop" @dragover.prevent="handleDragOver(data.nombre)" @dragstart="handleDragStart(data.nombre, data.ubicacion)" @:submit.prevent v-for="(data,index) in sqlData" :key="index" v-if="foundItems" @dblclick = "getIndex(data.nombre)" draggable="true">

                <td v-if="typeData"> { data.nombre }</td>
                <td v-if="typeData"> { data.precio }</td>
                <td v-if="typeData"> { data.num_existente }</td>
                <td v-if="typeData">
                    <div class="flex-container">
                        <div class="flex-child">
                            <svg class="btn-icon" @click="increaseData(data.nombre)" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
                            <svg class="btn-icon" @click="decreasedData(data.nombre)" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-440v-80h560v80H200Z"/></svg>

                        </div>
                        <div class="flex-child center">
                            <button class="btn trash" @click="deleteData(data.nombre)">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                            </button>
                        </div>
                    </div>
                </td>

                <td v-if="!typeData"><input type="text" v-model="dataNewName" placeholder="nombre"></td>
                <td v-if="!typeData"><input type="text" v-model="dataNewPrecio" placeholder="precio"></td>
                <td v-if="!typeData"><input type="text" v-model="dataNewNumExist" placeholder="dataNumExis"></td>
                <td v-if="!typeData"><button @click="editData(data.nombre)">confirmar</button></td>
                <td v-if="!typeData"><button @click="getResponse()">cancelar</button></td>

            </tr>

            <!-- for por si no encuentra algun resultado en la busqueda, hacer el codigo mas ligero sin el for. -->
            <tr @:submit.prevent v-for="(data2,index2) in sqlData" :key="index2" v-if="!foundItems" @dblclick = "getIndex(data2.nombre)">
                <td v-if="!foundItems"> { data2.nombre }</td>
            </tr>
            <tr></tr>
        </tbody>
        
    </table>

    <!-- <div @dblclick = "typeData = !typeData">
        <h2 v-if="typeData">esto es una prueba</h2>
        <input v-else type="text" placeholder="prueba">
        <button @click = "typeData = !typeData">toggle</button>
    </div> -->
    <br>

    <form @:submit.prevent="addNewData">
        <input type="text" v-model="dataName" placeholder="nombre">
        <input type="text" v-model="dataNumExis" placeholder="num_existente">
        <input type="text" v-model="dataPrecio" placeholder="precio">
        <button type="submit">agregar</button>
    </form>

    <br>
    

    <br>
    <form @:submit.prevent="addNewDataBodega">
        <input type="text" v-model="dataName" placeholder="nombre">
        <input type="text" v-model="dataNumExis" placeholder="num_existente">
        <input type="text" v-model="dataPrecio" placeholder="precio">
        <button type="submit">agregar</button>
    </form>

    <br>
    

    <div class="wall" v-show="showBodega">
        <table class="table-left">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>precio</th>
                    <th>Num Existente</th>
                </tr>
            </thead>
            <tbody>
                <tr @drop.prevent="handleDrop" @dragover.prevent="handleDragOver(data.nombre)" @dragstart="handleDragStart(data.nombre, data.ubicacion)" @submit.prevent v-for="(data,index) in bodegaData" draggable="true" >
                    <td>{ data.nombre }</td>
                    <td>{ data.precio }</td>
                    <td>{ data.num_existente }</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="bodega-settings" @click="showHideBodegaTable()">
        abrir bodega
    </div>

</div> 
{% endblock %}